{% extends 'base.html' %}
{% block content %}
<title>{% block title %}Productos{% endblock %}</title>

<script>
    $(document).ready(function() {
        $('#tablaProductos').DataTable({
            "ordering": true,  // Permite ordenar por columnas
            "searching": true, // Activa la búsqueda
            "language": {
                "search": "Buscar:", // Cambia el texto del buscador
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "No hay registros disponibles",
                "infoFiltered": "(filtrado de _MAX_ registros en total)"
            }
        });
    });
</script>

<div class="container">
    <h2 class="text-center">Lista de Productos</h2>
    <table id="tablaProductos" class="table table-hover">
        <thead>
            <tr>
                <th>Código</th>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Familia</th>
                <th>Subfamilia</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.codigo }}</td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.precio }}</td>
                <td>{{ producto.cantidad }}</td>
                <td>{{ producto.familia }}</td>
                <td>{{ producto.subfamilia }}</td>
                <td>
                    <a href="/editar_producto/{{ producto.codigo }}" class="btn btn-info btn-sm">Editar</a>
                    <a href="/eliminar_producto/{{ producto.id }}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
